---
layout: default
title: about
---

<section id="about">
  <div class="main-container" style="padding-top: 10px">
    <div class="split-container">
      <div class="split-left">
        <div class="intro text-center">
          <div class="image">
            <img src="/assets/img/me/umar1.jpg" alt="" />
          </div>

          <div class="footer">
            <h1>Umar Faruk Abdullahi</h1>
            <h3>Builder. Researcher. Explorer.</h3>
            <p>
              I am currently a graduate student
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://master-ediss.eu"
                >@EDISS</a
              >
              focusing on AI and ML, sponsored by the
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://erasmus-plus.ec.europa.eu/opportunities/opportunities-for-individuals/students/erasmus-mundus-joint-masters"
                >EU's Erasmus Mundus Program</a
              >. This summer, I'm working with 
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://fingletek.com/"
                >@Fingletek</a
              > on ML algorithms for intelligent resource allocation in high-speed 5G networks. Previously, I worked
              as a Software Engineer (Backend + Cloud)
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://www.mercurie.com"
                >@Mercurie</a
              >
              on the flagship
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://www.adpay.ng"
                >Adpay</a
              >
              SaaS platform. I was also a teaching and research assitant
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://yumsuk.edu.ng/"
                >@YUMSUK</a
              >
              prior to that. I am passionate about deeply understanding how things work and
              enjoy the process of learning new technologies that I can apply to
              create new solutions and solve problems.

              <br />

              I also write <em>[occassionally]</em> on
              <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://ufakz.substack.com/"
                >Substack</a
              >
              on my topics of interest. Feel free to reach out for anything!
            </p>
          </div>
        </div>
      </div>

      <div class="split-right">
        <div class="intro">
          <h2>Recent News</h2>
          <!-- Add your latest news here with dates -->
          <div class="news-item">
            <h3><span class="news-date">May 1, 2024</span></h3>
            <p>Elated to receive a fully funded acceptance to <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://www.m2lschool.org/"
                > The Mediterranean Machine Learning Summer School</a> in Milan, Italy.</p>
          </div>
          <div class="news-item">
            <h3><span class="news-date">Mar 28, 2024</span></h3>
            <p>Thrilled and grateful to be accepted to <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://cmmrs.mpi-sws.org/"
                > The Cornell, Maryland, Max Planck Pre-doctoral Research School (CMMRS) 2024</a> in Saarbrücken, Germany.</p>
          </div>
          <div class="news-item">
            <h3><span class="news-date">Feb 25, 2024</span></h3>
            <p>Grateful to have presented our ongoing project on <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://drive.google.com/file/d/1ncHG1qDbgwYZAxP5vrEd_smEXD9zppzY/view?usp=sharing"
                >Parkinson's Detection & Biomarker Discovery</a> at the EDISS 2024 Winter School at Mälardalens University, Västerås, Sweden.</p>
          </div>
          <div class="news-item">
            <h3><span class="news-date">Feb 15, 2024</span></h3>
            <p>Delighted to be accepted to attend the <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://www.oxfordml.school/"
                >Oxford Machine Learning Summer School 2024</a> in-person at the University of Oxford, England.</p>
          </div>
          <div class="news-item">
            <h3><span class="news-date">Aug 15, 2023</span></h3>
            <p>Grateful and excited to begin my masters studies in AI & ML <a
                target="_blank"
                style="text-decoration: underline; color: #268bd2"
                href="https://master-ediss.eu"
                >@EDISS</a> on a fully funded prestigious Erasmus Mundus Scholarship in Finland and Spain.</p>
          </div>
          <!-- Add more news items as needed -->
        </div>
      </div>
    </div>
  </div>
</section>
