.mouveImages{
    height: 100px;
    width: 100px;
}

.row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    .row-content-4{
       flex-basis: 25%; 
       @media (max-width: $screen-lg){
            flex-basis:50%;
        }
    }
    .row-content{
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        flex-basis: 100%;

        @media screen and (min-width: $screen-lg){
            flex-basis:33.333%;
        }

        @media (min-width:$screen-md) and (max-width:$screen-lg){
            flex-basis: 50%;
        }
        
        .project-box{
            &:hover{
                box-shadow: 0 20px 30px rgba(0,0,0,.12);
                transform: translate(0px, -10px);
                z-index: -100000;
            }
            box-shadow: 0 20px 20px rgba(0,0,0,.08);
            transition: all 200ms cubic-bezier(.25,.1,.25,1);
            width: 100%;
            height: 420px;
            margin: 10px 0;
            text-align: left;
            background: white;

            .img{
                display: block;
                height: 180px;
                background: azure;
                background-position-x: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 360px;
            }
            .body{
                padding: 20px;
                .content{
                    height: 80px;
                }
                .heading{
                    font-size: 20px;
                    font-weight:600;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.introImg{
    text-align: center;
    img{
        height: 300px;
        border-radius: 5px;
        @media(max-width: 500px){
            height: 200px;   
        }
    }
    max-width: 600px;
    margin: 0 auto
}
// about me
#about{
    .intro{
        img{
            height: 264px;
            border-radius: 5px;
            @media(max-width: 500px){
                height: 200px;   
            }
        }
        .innerscreenshots{
            padding: 10px;
            height: 600px;
            border-radius: 5px;
            @media(max-width: 500px){
                height: 200px;   
            }
        }
        max-width: 600px;
        margin: 0 auto
    }
    .skills{
        margin-top: 50px;
        line-height: 1.3;
        span{
            display: block;
        }
        .row-content-4{
            margin-bottom: 20px;
        }
    }
    .experience{
        margin-top: 50px;
        .work{
            margin-bottom: 20px;
        }
        .left{
            margin-bottom: 0;
        }
        .sub{
            width: 150px;
            @media (max-width:600px){
                display: none;
            }
        }
        ul{
            margin-top: 0;
        }
    }
    .resume{
        @media(max-width: 700px){
            text-align: center;
        }
    }
    
}
